#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=Asciiflow QT
GenericName=Asciiflow QT
GenericName[de]=Zeichnen von Ascii Diagrammen
GenericName[en_GB]=Draw Ascii diagrams
Exec=AsciiFlowQt
Icon=CMakeSetup
Terminal=false
X-MultipleArgs=true
Type=Application
Categories=Development;Building;
StartupNotify=true
